@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';

@theme inline {
  --color-pink: #E8175D;
  --color-pink-light: #FF3D7A;
  --color-pink-muted: #fce4ec;
  --font-sans: 'Inter', sans-serif;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f0efeb;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 4px;
}
